.sentence:hover {
  background-color: #ffc;
  cursor: pointer
}

.sentence text:hover {
}

.sentence .claims {
  font-size: 12px;
  vertical-align: super;
  opacity: 0.25;
}

.sentence .original {
  font-style:italic;
  font-weight: bold;
}
