.sentence:hover {
  background-color: #ffd;
  cursor: pointer
}

.sentence text:hover {
}

.sentence .claims {
  font-size: 12px;
  vertical-align: super;
  opacity: 0.25;
}

.original {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.8);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline;
}


.original .label {
  font-style:italic;
  margin-right:0.5rem;
}

.popupButton {
  position:relative;
  margin-top:-4px;
}


.popupButton .icon {
  font-size:20px;
  font-weight: bold;
  padding-right:4px;
}

.linkText {
}

.originalContainer {
}


.originalContainer a {
  color: #333;
  /*text-decoration: underline;*/
  /*font-style:italic;*/
  background-color: lightgoldenrodyellow;
  font-family: Arial;
  padding: 4px;
  border: 1px solid lightgray;
  font-size: 14px;
  border-radius: 5px;
}
