<div id="<%= dom_id prompt %>">
  <div>
  </div>

  <div style="background-color: lightgoldenrodyellow;padding:0.5rem;margin-top:1rem;">
    <h2>
        <%= link_to prompt.title, edit_prompt_path(prompt) %>

      </h2>
    <%= prompt.body[0..500] %>
  </div>

</div>
