.idea/inspectionProfiles/
.idea/kabuki-paper-summarizer.iml
.idea/modules.xml
.idea/vcs.xml
www/codeStyles/
www/modules.xml
www/paper_booper.iml
www/prettier.xml
www/vcs.xml
www/workspace.xml
.next
.DS_Store
.bundle
.vercel
.env*.local
