:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Merriweather',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.translation-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 0em;
}

.translation-container .title {
  font-family: "Playfair Display";
  font-size: 32px;
}

.translation-container p {
  font-family: 'Merriweather';
  margin-bottom:1em;
}

.translation-container p:hover {
    background-color: #ffc;
}

.above-h1 {
  font-size: smaller;
  text-transform: uppercase;
  color: #cccccc;
}
