@font-face {
  font-family: charterwoff;
  src: url(/fonts/charter_regular-webfont.woff);
}

/*@font-face {*/
/*  font-family: playfair;*/
/*  src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);*/
/*}*/

/*@font-face {*/
/*  font-family: merriweather;*/
/*  src: url(/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf);*/
/*}*/

/*@font-face {*/
/*  font-family: merriweather-italic;*/
/*  src: url(/fonts/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf);*/
/*}*/

:root {
  /* Measure */
  --reading-width: 65ch;
  --margin-rail: 0ch;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.75rem;
  --space-l: 3rem;
  --space-xl: 5rem;

  /* Typography */
  --body-font: "Google Sans Text", "charter","charterwoff";
  --ui-font: "Helvetica";
  /*body {*/
  /*  font-family: Google Sans Text, Arial, Helvetica, sans-serif;*/
  /*  font-size: 1rem;*/
  /*  font-weight: 400;*/
  /*  letter-spacing: .1px;*/
  /*  line-height: 1.5;*/
  /*}*/
  --text-main: #1a1a1a;
  --text-emphasized: black;
  --rule: #e5e5e5;
  --accent: #0a4cff;
  --accent-2: rgb(55,123,42);
  --link: rgb(193,98,90);
  --text-muted: #666;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 100%;
}

.pageInner {
  width: 100%;
  max-width: 1100px;
  /*
    This sets the page to have a maximum width of 1100 pixels.
    This helps to ensure that the page is not wider than the viewport,
    which can cause the page to scroll horizontally.

    The margin: 0 auto; line also centers the page horizontally on the screen.
  */
  margin: 0 auto;

  padding-left: clamp(2rem,21vw,16rem);
  padding-right: clamp(2rem,21vw,16rem);
}

a:link {
  color: black;
}

a:visited {
  color: black;
}


.pageContent {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.subscribeBar {
  background-color: #ffc;
}

@media (max-width: 600px) {
  .pageInner {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .pageContent {
    padding-top: 0vw;
    padding-bottom: 8vw;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.translation-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 0em;
}

.translation-container .title {
  font-size: 32px;
}

.translation-container p {
  margin-bottom:1em;
}

.translation-container p:hover {
    background-color: #ffc;
}

.above-h1 {
  font-size: smaller;
  text-transform: uppercase;
  color: #cccccc;
}
