
.superContainer {
  border: 0px dotted purple;
  border-top: 6px solid green;
  padding-top: 1rem !important;
  margin-bottom: 4rem;
}

.superContainer:first-of-type {
  border-top: none;
  padding-top: 1rem !important;
}

@media (max-width: 600px) {
  .superContainer:first-of-type {
    padding-top: 0rem !important;
  }
}

.container {
  font-family: var(--body-font);
  color: var(--text-main);
  line-height: 1.55;
  font-size: 18px;
  margin-bottom: 2rem;
  border-bottom: 1px dotted lightgray;
  padding-bottom: 1rem;
}

.expandedContainer {
  padding-bottom: 1rem;
  border-bottom: 4px solid lightgray;
}

.container h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bold;
}

.container h2 {
  font-family: var(--ui-font);
  color: #333;
}

.supertitle {
  font-family: var(--ui-font);
  font-size: smaller;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-2);
  margin-bottom: 0.25rem;
}

.dateline {
  font-family: var(--ui-font);
  color: #999;
  font-size: 12px;
  margin-bottom: 0.25rem;
}

.dateline a {
  color: #999;
}

.readMoreLink {
  margin-top: 1rem;
  margin-left: 0px
}
