.containerMaximized {
  background-color: #f6f6f6;
  top:0;
  left:0;
  position:absolute;
  /*border: 1px solid #eee;*/
  margin: 1rem;
  padding:1rem;
  padding-bottom:4rem;
  cursor:pointer;
}

.containerInline {
  background-color: #f6f6f6;
  cursor:pointer;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding:0rem;
  border-radius: 1rem;
  /*border: 1px solid #eee;*/
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.image {
  width:100% !important;
  height: auto;
}

.captionMinimized {
  cursor: pointer;
  height:90px;
  overflow: clip;
  font-family: Arial;
  padding-left:4px;
  padding-right:4px;
  font-size: 12px;
}

.captionMaximized {
  padding-left:4px;
  padding-right:4px;
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  height: unset;
}

