.containerMaximized {
  top:0;
  left:0;
  position:absolute;
  background-color: white;
  border: 1px solid #eee;
  cursor:pointer;
}

.containerInline {
  cursor:pointer;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding:0.5rem;
  border: 1px solid #eee;
}

.image {
  width:100% !important;
  height: auto;
}

.captionMinimized {
  cursor: pointer;
  height:90px;
  overflow: clip;
  font-style: italic;
  font-size: 10px;
}

.captionMaximized {
  cursor: pointer;
  font-size:smaller;
  font-style: italic;
  font-style: italic;
  font-size: 14px;
  height: unset;
}

