.container {
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.blockerContainer {
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  transition: opacity 2s;

  overflow: auto;
}

.content {
  border-radius: 1rem;
  transition: opacity 2s;
  opacity: 100%;
  background-color: white;
  z-index: 100;
  vertical-align:center ;
  align-content: center;
  margin:15%;
}

.innerContent {
  padding: 1rem;
  border-radius: 1rem;
  font-size:17px;
}



@media (max-width: 600px) {
  .content {
    margin: 5%;
  }
}

.content a {
  text-decoration: underline;
}


.formContainer {
  padding: 0.75rem;
  background-color: #ffc;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.emailInput {
  border-radius: 6px;
  height: 2.26rem;
  width:100%;
  border: 1px solid black;
  padding-left:6px;
  font-size:18px;
}

.subscribeButton {
  width:100%;
  border: 1px solid black;
  background-color: rgb(239, 239, 239);
  font-family: Helvetica;
  font-size: 13px;
  padding: 8px;
  border-radius: 6px;
  color: black;
  font-size:16px;
}

.notRightNowButton {
  width:100%;
  border: 1px solid #555;
  background-color: rgb(239, 239, 239);
  font-family: Helvetica;
  font-size: 13px;
  text-decoration: none !important;
  padding: 8px;
  border-radius: 6px;
  font-size:15px;
  color: #777 !important;
}
