.container {
  background-color: #ffc;
  font-family: "American Typewriter";
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.container input[type="email"],
.container input[type="text"],
.container input[type="submit"] {
}
